<div class="footer">
    <div class="text-center">
        版权所有Copyright © 2014-2016 Silviscene Information Technology Co. Ltd. 闽ICP备 11020161 号 <a href="#" target="_blank">福州林景行信息技术有限公司</a>
    </div>
</div>