@model IReadOnlyList<LJH.VRTool.Roles.Dto.RoleDto>
<form class="layui-form" id="addForm">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" style="margin: 10px 40px;">
        <ul class="layui-tab-title">
            <li class="layui-this"><i class="fa fa-user"></i>用户信息</li>
            <li><i class="fa fa-users"></i>用户角色</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show animated fadeInRight">
                <div class="layui-form-item ">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="UserName" required lay-verify="required" placeholder="请输入用户名" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-input-inline">
                    <label class="layui-form-label">名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="Name" required lay-verify="required" placeholder="请输入用户名" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-input-inline">
                    <label class="layui-form-label">姓</label>
                    <div class="layui-input-inline">
                        <input type="text" name="Surname" required lay-verify="required" placeholder="请输入用户名" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item ">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-inline">
                        <input type="text" name="EmailAddress" required lay-verify="required" placeholder="请输入邮箱" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item ">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="Password" required lay-verify="required" placeholder="请输入密码" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">是否激活</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="IsActive" checked value="true" lay-skin="switch">
                    </div>
                </div>
            </div>
            <div class="layui-tab-item animated fadeInRight">
                <div class="layui-form-item">
                    @foreach (var item in Model)
                    {
                        <input type="checkbox" id="RoleNames_@item.Id" name="RoleNames" value="@item.Name" lay-skin="primary" title="@item.DisplayName">
                    }
                </div>
            </div>
        </div>
    </div>
    <div style="position:fixed;bottom:0">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="button" name="name" class="layui-btn" value="立即提交" onclick="save()" />
                @*<button class="layui-btn" lay-submit  onclick="save()">立即提交</button>*@
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </div>
</form>
<script src="~/lib/krpano/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="~/lib/krpano/hplus/js/plugins/layui/layui.js"></script>
<script>
//    layui.use(['form','layer'], function(){
//  var form = layui.form;
//  var layer = layui.layer;
//  //下面这个是监听表单的提交     
//  form.on('submit(adminInfo)', function(data){
//  //adminInfo是按钮名 下面这个是弹出提示框
//       console.log(data.field.appid) //获得表单中的appid字段的值
     
//    if(data.field.appid != 'aa' ||data.field.appkey != 'aa' ){
//         layer.confirm('2次的APPID,APPKEY不一样,继续提交会清空原有数据', {
//          btn: ['返回','继续'] //按钮
//        }, function(){
//             layer.closeAll(); //关闭层
//        }, function(){
//          data.form.submit(); //提交表单数据
//        });    
//    //因为上面有弹窗了,所以这里需要阻止表单的自动提交 
//     return false; 
//    }
     
     
//    });
//    //表单提交完毕
     
//    //这里可以监听其他的模块
     
//});

//    form.on('submit(lay-submit)', function(data){
//var url = data.form.action;
//var post = data.field;
//$.ajax({
//type: "POST",
//url: url,
//data: post,
//success: function (data) {

//},
//error: function(data) {
//alert("error:"+data);
//}
//});
//});

    function save(){
        var formData = $("#addForm").serializeArray();
        $.ajax({
          url: "@Url.Action("Add", "Users")",
          type: "POST",
          data: formData,
          dataType: "json",
          success: function (res) {
              if (res.result.status == "ok") {
                  layer.msg('新增成功!', { icon: 1, time: 3000 });
                  parent.location.reload();//刷新父窗口
                  var index = parent.layer.getFrameIndex(window.name);
                  parent.layer.close(index); //再执行关闭
              }
              else {
                  layer.msg('新增失败!', { icon: 2, time: 5000 });
              }
          },
          error: function (e) {
              layer.msg('请求出错!', { icon: 3, time: 5000 });
          }
      });
    }
</script>
