@using Webdiyer.AspNetCore;
@using LJH.VRTool.Web.Views.Shared.Components.SearchFormComponent
@model PagedList<LJH.VRTool.Users.Dto.UserDto>
@{
    ViewBag.Title = ViewBag.Title;
}
<div class="wrapper wrapper-content">
    <div class="ibox-content">
        <form id="searchForm" asp-action="Index" asp-controller="Users" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#ajaxresult">
            <blockquote class="layui-elem-quote-ext">
                <div class="layui-inline">
                    <label class="layui-form-label-ext">日期范围:</label>
                    <div class="layui-input-inline" style="width: 120px;">
                        <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'TimeMin\')||\'%y-%M-%d\'}' })" id="TimeMin" name="TimeMin" class="lay-input-ext lay-input-time-ext Wdate">
                    </div>
                    <div class="layui-input-inline" style="width: 120px;">
                        <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'TimeMax\')}',maxDate:'%y-%M-%d' })" id="TimeMax" name="TimeMax" class="lay-input-ext lay-input-time-ext Wdate">
                    </div>
                </div>
                @if (IsGranted(LJH.VRTool.Authorization.PermissionNames.Pages_Users_SearchAct))
                {
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" id="KeyWord" name="KeyWord" placeholder="请输入关键字" class="lay-input-ext">
                        </div>
                        <a class="layui-btn-ext layui-btnnobg-ext " onclick="searchList()">
                            <i class="layui-icon layui-icon-search">
                            </i>查询
                        </a>
                    </div>
                }
                @if (IsGranted(LJH.VRTool.Authorization.PermissionNames.Pages_Users_CreateAct))
                {
                    <div class="layui-inline">
                        <a class="layui-btn-ext layui-btnnobg-ext" onclick="add()">
                            <i class="layui-icon layui-icon-add-circle-fine">
                            </i>添加
                        </a>
                    </div>
                }
                @if (IsGranted(LJH.VRTool.Authorization.PermissionNames.Pages_Users_BatchDeleteAct))
                {
                    <div class="layui-inline">
                        <a class="layui-btn-ext layui-btn-dangernobg-ext" onclick="batchdeleted()">
                            <i class="layui-icon layui-icon-delete">
                            </i>批量删除
                        </a>
                    </div>
                }
            </blockquote>
        </form>
        <div class="table-responsive animated fadeInRight layui-form" id="ajaxresult">
            <partial name="List" model="@Model" />
        </div>
    </div>
</div>
@section scripts
    {
    <script src="~/view-resources/Views/Users/index.js"></script>
}
