@using Webdiyer.AspNetCore;
@using LJH.VRTool.Web.Views.Shared.Components.SearchFormComponent
@model PagedList<LJH.VRTool.Users.Dto.UserDto>
@{
    ViewBag.Title = ViewBag.Title;
}
<div class="wrapper wrapper-content">
    <div class="ibox-content">
        <button onclick="Test()">测试</button>
        <button onclick="TestPost()">测试</button>
        <form id="searchForm" asp-action="Index" asp-controller="Users" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#ajaxresult">
            @await Component.InvokeAsync(typeof(SearchFormComponent))
        </form>
        <div class="table-responsive animated fadeInRight layui-form" id="ajaxresult">
            <partial name="List" model="@Model" />
        </div>
    </div>
</div>
@section scripts
{
<script>
    var Test = function () {
        $.ajax({
            type: 'POST',
            url: "/Users/Test",
            dataType: 'json',
            success: function (res) {
                if (res.result.status == "ok") {
                    layer.msg('已删除!', { icon: 1, time: 30000 });
                    location.reload();//刷新页面
                }
                else {
                    layer.msg('删除失败!', { icon: 2, time: 5000 });
                }
            },
            error: function (data) {
                layer.msg('请求出错!', { icon: 3, time: 5000 });
            },
        });
        };
    var TestPost = function () {
        $.ajax({
            type: 'POST',
            url: "/Users/TestPost",
            dataType: 'json',
            success: function (res) {
                if (res.result.status == "ok") {
                    layer.msg('已删除!', { icon: 1, time: 30000 });
                    location.reload();//刷新页面
                }
                else {
                    layer.msg('删除失败!', { icon: 2, time: 5000 });
                }
            },
            error: function (data) {
                layer.msg('请求出错!', { icon: 3, time: 5000 });
            },
        });
    };
</script>
    <script src="~/view-resources/Views/Users/index.js"></script>
}
