 <!--菜单项-->
<nav class="page-tabs J_menuTabs">
    <div class="page-tabs-content">
        <a href="javascript:;" class="active J_menuTab indexhome" data-id="index_v1.html">首页</a>
    </div>
</nav>
<!--菜单栏按钮操作-->
@*<div class="btn-group roll-nav roll-right">
    <button class="dropdown J_tabClose" data-toggle="dropdown">
        关闭操作<span class="caret"></span>
    </button>
    <ul role="menu" class="dropdown-menu dropdown-menu-right">
        <li class="J_tabShowActive">
            <a>定位当前选项卡</a>
        </li>
        <li class="divider"></li>
        <li class="J_tabCloseAll">
            <a>关闭全部选项卡</a>
        </li>
        <li class="J_tabCloseOther">
            <a>关闭其他选项卡</a>
        </li>
    </ul>
</div>*@
