@model IReadOnlyList<LJH.VRTool.Roles.Dto.PermissionDto>
@*<link href="~/lib/krpano/hplus/js/plugins/layui/css/layui.css" rel="stylesheet" />*@
<form class="layui-form" id="addForm">
    <div class="layui-form-content-ext">
        <div class="layui-tab layui-tab-brief layui-tab-ext" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this"><i class="fa fa-users"></i><span class="layui-tab-title-icon-ext">角色信息</span></li>
                <li><i class="fa fa-user-plus"></i><span class="layui-tab-title-icon-ext">权限信息</span></li>
            </ul>
            <div class="layui-tab-content layui-tab-content-ext">
                <div class="layui-tab-item layui-show animated fadeInRight">
                    <div class="layui-form-item ">
                        <label class="layui-form-label">
                            <span class="layui-form-must-ext">*</span>
                            角色名
                        </label>
                        <div class="layui-input-block">
                            <input type="text" name="Name" required lay-verify="required" placeholder="请输入角色名" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">激活</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="IsActive" checked value="true" lay-skin="switch" lay-text="是|否">
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item animated fadeInRight">
                    <div class="layui-form-item">
                            @foreach (var item in Model)
                            {
                                <input type="checkbox" id="RoleNames_@item.Id" name="Permissions" value="@item.Name" lay-skin="primary" title="@item.DisplayName">
                            }
                        </div>
                    @*<div class="layui-form-item layui-form-text">
                        <div id="permission" class="demo-tree-more"></div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="layui-modalfooter-ext">
        <button type="button" lay-filter="save" lay-submit class="layui-btn-ext layui-btn-primary-ext" onclick="save()"><i class="fa fa-save"></i>确认</button>
        <button type="reset" class="layui-btn-ext"><i class="fa fa-close"></i>重置</button>
    </div>
</form>
<script src="~/lib/krpano/hplus/js/plugins/layui/layui.all.js"></script>
<script>
    var save = function () {
            layui.use('form', function () {
                var form = layui.form;
                form.on('submit(save)', function () {
                    var formData = $("#addForm").serializeArray();
                    $.ajax({
                        url: "@Url.Action("Add", "Roles")",
                        type: "POST",
                        data: formData,
                        dataType: "json",
                        success: function (res) {
                            if (res.result.status == "ok") {
                                layer.msg('新增成功!');
                                parent.location.reload();//刷新父窗口
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index); //再执行关闭
                            }
                            else {
                                layer.msg('新增失败!', { icon: 2, time: 5000 });
                            }
                        },
                        error: function (e) {
                            layer.msg('请求出错!', { icon: 3, time: 5000 });
                        }
                    });
                });
            });
        };

    layui.use(['tree'], function(){
  var tree = layui.tree,
  //模拟数据
  data = [{
    title: '一级1'
    ,id: 1
    ,checked: true
    ,spread: true
    ,children: [{
      title: '二级1-1 可允许跳转'
      ,id: 3
      ,href: 'https://www.layui.com/'
      ,children: [{
        title: '三级1-1-3'
        ,id: 23
        ,children: [{
          title: '四级1-1-3-1'
          ,id: 24
          ,children: [{
            title: '五级1-1-3-1-1'
            ,id: 30
          },{
            title: '五级1-1-3-1-2'
            ,id: 31
          }]
        }]
      },{
        title: '三级1-1-1'
        ,id: 7
        ,children: [{
          title: '四级1-1-1-1 可允许跳转'
          ,id: 15
          ,href: 'https://www.layui.com/doc/'
        }]
      },{
        title: '三级1-1-2'
        ,id: 8
        ,children: [{
          title: '四级1-1-2-1'
          ,id: 32
        }]
      }]
    },{
      title: '二级1-2'
      ,id: 4
      ,spread: true
      ,children: [{
        title: '三级1-2-1'
        ,id: 9
        ,disabled: true
      },{
        title: '三级1-2-2'
        ,id: 10
      }]
    },{
      title: '二级1-3'
      ,id: 20
      ,children: [{
        title: '三级1-3-1'
        ,id: 21
      },{
        title: '三级1-3-2'
        ,id: 22
      }]
    }]
  },{
    title: '一级2'
    ,id: 2
    ,spread: true
    ,children: [{
      title: '二级2-1'
      ,id: 5
      ,spread: true
      ,children: [{
        title: '三级2-1-1'
        ,id: 11
      },{
        title: '三级2-1-2'
        ,id: 12
      }]
    },{
      title: '二级2-2'
      ,id: 6
      ,children: [{
        title: '三级2-2-1'
        ,id: 13
      },{
        title: '三级2-2-2'
        ,id: 14
        ,disabled: true
      }]
    }]
  },{
    title: '一级3'
    ,id: 16
    ,children: [{
      title: '二级3-1'
      ,id: 17
      ,fixed: true
      ,children: [{
        title: '三级3-1-1'
        ,id: 18
      },{
        title: '三级3-1-2'
        ,id: 19
      }]
    },{
      title: '二级3-2'
      ,id: 27
      ,children: [{
        title: '三级3-2-1'
        ,id: 28
      },{
        title: '三级3-2-2'
        ,id: 29
      }]
    }]
  }]
  //基本演示
  tree.render({
    elem: '#permission'
    ,data: data
    ,showCheckbox: true  //是否显示复选框
    ,id: 'demoId1'
    ,isJump: true //是否允许点击节点时弹出新窗口跳转
    ,click: function(obj){
      var data = obj.data;  //获取当前点击的节点数据
      layer.msg('状态：'+ obj.state + '<br>节点数据：' + JSON.stringify(data));
    }
  });
});
</script>
