@model IReadOnlyList<LJH.VRTool.Roles.Dto.PermissionDto>
@*<link href="~/lib/krpano/hplus/js/plugins/layui/css/layui.css" rel="stylesheet" />*@
<form class="layui-form" id="addForm">
    <div class="layui-form-content-ext">
        <div class="layui-tab layui-tab-brief layui-tab-ext" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this"><i class="fa fa-users"></i><span class="layui-tab-title-icon-ext">角色信息</span></li>
                <li><i class="fa fa-user-plus"></i><span class="layui-tab-title-icon-ext">权限信息</span></li>
            </ul>
            <div class="layui-tab-content layui-tab-content-ext">
                <div class="layui-tab-item layui-show animated fadeInRight">
                    <div class="layui-form-item ">
                        <label class="layui-form-label">
                            <span class="layui-form-must-ext">*</span>
                            角色名
                        </label>
                        <div class="layui-input-block">
                            <input type="text" name="Name" id="Name" required lay-verify="required" placeholder="请输入角色名" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">激活</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="IsActive" id="IsActive" checked value="true" lay-skin="switch" lay-text="是|否">
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item animated fadeInRight">
                    <div class="layui-form-item layui-form-text">
                        <div id="permission" class="demo-tree-more"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-modalfooter-ext">
        <button type="button" lay-filter="save" lay-submit class="layui-btn-ext layui-btn-primary-ext" onclick="save()"><i class="fa fa-save"></i>确认</button>
        <button type="reset" class="layui-btn-ext"><i class="fa fa-close"></i>重置</button>
    </div>
</form>
<script src="~/lib/krpano/hplus/js/jquery.min.js"></script>
<script src="~/lib/krpano/hplus/js/plugins/layui/layui.all.js"></script>
<script>
    var tree = layui.tree;
    var form = layui.form;
    var save = function () {
           var formData = $("#addForm").serializeArray();
           for (var i = 0; i < formData.length; i++) {
               if (formData[i].name ==="layuiTreeCheck") {
                   formData[i].name = "Permissions";
               }
           };
           form.on('submit(save)', function () {
               $.ajax({
                   url: "@Url.Action("Add", "Roles")",
                   type: "POST",
                   data: formData,
                   dataType: "json",
                   success: function (res) {
                       if (res.result.status == "ok") {
                           layer.msg('新增成功!');
                           parent.location.reload();//刷新父窗口
                           var index = parent.layer.getFrameIndex(window.name);
                           parent.layer.close(index); //再执行关闭
                       }
                       else {
                           layer.msg('新增失败!', { icon: 2, time: 5000 });
                       }
                   },
                   error: function (e) {
                       layer.msg('请求出错!', { icon: 3, time: 5000 });
                   }
               });
           });
        };
    //获取所有权限
    var getAllPermission = function () {
       abp.ajax({
          url: '@Url.Action("GetAllPermission", "Roles")',
       }).done(function(data) {
           treeRender(data);
       });
    };
    //layui树渲染
    var treeRender = function (data) {
        tree.render({
               elem: '#permission',
               data: data,
               showCheckbox: true,
               id: 'permissiontree',
               showLine:false,
               isJump: false,
               click: function (obj) {
                  var data = obj.data;
                  layer.msg('状态：'+ obj.state + '<br>节点数据：' + JSON.stringify(data));
               }
            });
     };
    $(function () {
        getAllPermission();
    });
</script>
