@using Webdiyer.AspNetCore;
@using LJH.VRTool.Web.Views.Shared.Components.SearchFormComponent
@model PagedList<LJH.VRTool.Roles.Dto.RoleDto>
@{
    ViewBag.Title = ViewBag.Title;
}
<div class="wrapper wrapper-content">
    <div class="ibox-content">
        <form id="searchForm" asp-action="Index" asp-controller="Roles" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#ajaxresult">
            @await Component.InvokeAsync(typeof(SearchFormComponent))
        </form>
        <div class="table-responsive animated fadeInRight layui-form" id="ajaxresult">
            <partial name="List" model="@Model" />
        </div>
    </div>
</div>
@section scripts
{
   <script src="~/view-resources/Views/Roles/Index.js"></script>
}
