@using Webdiyer.AspNetCore;
@model PagedList<LJH.VRTool.Users.Dto.UserDto>
@section styles{
    <style>

        .table-responsive {
            margin-top: 40px;
        }

            .table-responsive table thead tr th, .table-responsive table tbody tr td {
                text-align: center;
            }
    </style>
}
<div class="wrapper wrapper-content">
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-3 pull-right">
                <div class="input-group">
                    <input type="text" placeholder="请输入关键词" class="input-sm form-control"> <span class="input-group-btn">
                        <button type="button" class="layui-btn layui-btn-sm layui-btn-dangery"> 搜索</button>
                    </span>
                </div>
            </div>
            <div class="col-sm-3 pull-right text-right">
                <button type="button" class="layui-btn layui-btn-sm layui-btn-dangery" onclick="add()">添加</button>
            </div>
        </div>
        <div class="table-responsive animated fadeInRight">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>名称</th>
                        <th>分类</th>
                        <th>封面</th>
                        <th>日期</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="checkbox" checked class="i-checks" name="input[]">
                        </td>
                        <td>视频</td>
                        <td>
                            房产
                        </td>
                        <td>11111111111112</td>
                        <td>2014.11.11</td>
                        <td>
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-dangery" onclick="edit()">编辑</button>
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-dangery" onclick="deleted()">删除</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" checked class="i-checks" name="input[]">
                        </td>
                        <td>视频</td>
                        <td>
                            房产
                        </td>
                        <td>11111111111112</td>
                        <td>2014.11.11</td>
                        <td>
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-dangery" onclick="edit()">编辑</button>
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-dangery" onclick="deleted()">删除</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" checked class="i-checks" name="input[]">
                        </td>
                        <td>视频</td>
                        <td>
                            房产
                        </td>
                        <td>11111111111112</td>
                        <td>2014.11.11</td>
                        <td>
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-dangery" onclick="edit()">编辑</button>
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-dangery" onclick="deleted()">删除</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" checked class="i-checks" name="input[]">
                        </td>
                        <td>视频</td>
                        <td>
                            房产
                        </td>
                        <td>11111111111112</td>
                        <td>2014.11.11</td>
                        <td>
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-dangery" onclick="edit()">编辑</button>
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-dangery" onclick="deleted()">删除</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" checked class="i-checks" name="input[]">
                        </td>
                        <td>视频</td>
                        <td>
                            房产
                        </td>
                        <td>11111111111112</td>
                        <td>2014.11.11</td>
                        <td>
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-dangery" onclick="edit()">编辑</button>
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-dangery" onclick="deleted()">删除</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" checked class="i-checks" name="input[]">
                        </td>
                        <td>视频</td>
                        <td>
                            房产
                        </td>
                        <td>11111111111112</td>
                        <td>2014.11.11</td>
                        <td>
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-dangery" onclick="edit()">编辑</button>
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-dangery" onclick="deleted()">删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <nav aria-label="Page navigation">
                    @Html.Pager(Model, new PagerOptions
               {
                   PageIndexParameterName = "pageIndex",
                   TagName = "ul",
                   CssClass = "pagination",
                   CurrentPagerItemTemplate = "<li class=\"page-item active\"><a  class=\"page-link\" href=\"javascript:void(0);\">{0}</a></li>",
                   DisabledPagerItemTemplate = "<li class=\"page-item disabled\"><a class=\"page-link\">{0}</a></li>",
                   PagerItemTemplate = "<li class=\"page-item\">{0}</li>",
                   Id = "bootstrappager"
               })
                </nav>
            </div>
        </div>
    </div>
</div>
@section scripts
    {
    <script>
        function add(){
            layer.open({
            skin: 'layui-layer-molv',
            type: 2,
            title: '添加VR视频',
            shadeClose: true,
            shade: 0.8,
            area: ['600px', '600px'],
            content: '@Url.Action("Add", "Video")',
            btn: ['确认', '取消'],
            yes: function (index, layero) {
                var body = layer.getChildFrame('body', index);
                var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                iframeWin.save();
            },
            btn2: function(index, layero){
                  layer.close(index);
            }
          });
        };
        function edit(){
            parent.layer.open({
            type: 2,
            title: '添加VR视频',
            shadeClose: true,
            shade: 0.8,
            area: ['600px', '600px'],
            content: '@Url.Action("Edit", "Video")',
            btn: ['确认', '取消'],
            yes: function (index, layero) {
                var body = layer.getChildFrame('body', index);
                var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                iframeWin.save();
            },
            btn2: function(index, layero){
                  layer.close(index);
            }
          });
        };
        function deleted() {

        }
    </script>
}